<!DOCTYPE html>
<html>
<head>
  <title>Apache Flink</title>
  <meta charset="utf-8">
  <style type="text/css">

    body {
      background-color: #8D8686;
    }
 
    .login {
      width: 40%;
      margin: 7rem auto;
      align-self: center;
      background-color: white;
      border-radius: 1.5rem;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      padding: 7rem 3rem 7rem 3rem;
    }

    .login .logo-header {
      align-self: center;
      width: 35%;
      margin: 0 auto;
    }
    .login .logo-header img {
      height: 100%;
      width: 100%;
      min-width: 165px;
      object-fit: contain;
    }

    .login .login-button {
      align-self: center;
      width: 35%;
      margin: 0 auto;
    }

    .login .login-button {
      height: 100%;
      width: 100%;
      margin-top: 1.5rem;
      object-fit: contain;
    }

    .login .login-button .example_e {
      border: none;
      background: #8D8686;
      color: #ffffff !important;
      font-weight: 100;
      padding: 20px;
      border-radius: 6px;
      display: inline-block;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.12);
    }
    a {
      text-decoration: none;
    }

    .login .login-button .example_e:hover {
      color: #8D8686 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 100px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.87);
      transition: all 0.3s ease 0s;
    }

  </style>
</head>
<body>
<div class="login">
        <div class="logo-header">
            <img src="../img/ApacheFlink.png" alt="Apche Flink logo">
        </div>
        <div class="login-button" align="center">
          <a class="example_e" href="/auth">sign in with FIWARE</a>
        </div>
    </div>
</body>
</html>