<!DOCTYPE html>
<html>
<head>
  <title>Apache Flink</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </style>
</head>
<body>
  <div class="login">
    <div class="logo-header">
      <img src="../img/ApacheFlink.png" alt="Apche Flink logo">
    </div>
    <div class="login-button" align="center">
      <a href="/auth">sign in with FIWARE</a>
    </div>
  </div>
</body>
</html>